@use '@/styles/typography.scss';
@use '@/styles/inputs.scss';
@use "@/styles/colors" as colors;

.passwordContainer {
    display: flex;
    flex-direction: column;
    gap: 28px;

    >div {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
            @extend .text-s;
            line-height: 21px;
        }

        span {
            @extend .h3;
            line-height: 30px;
        }
    }

    button {
        width: 254px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 364px;

    button {
        width: 100%;
    }
}

.forgotPassword {
    @extend .text-s;
    line-height: 21px;
    text-decoration: underline;
}

.labelPassword {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
        padding-right: 40px;
    }
}

.eyeIcon {
    position: absolute;
    right: 12.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    cursor: pointer;
}