.reviews-wrapper {
    background-color: rgba(211, 190, 170, 0.4);
    margin-bottom: 120px;

    .title {
        margin-bottom: 24px;
    }

    .description {
        margin-bottom: 60px;
        color: rgba(46, 46, 46, 1);
    }
}

.avatar-container {
    display: flex;
    gap: 290px;
}

.review-avatars {
    position: relative;
    height: 52px;
    width: fit-content;
}

.review-avatar {
    position: absolute;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
}

.reviews-container {
    width: 648px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .keen-slider__slide {
        width: 100% !important;
        flex-shrink: 0;
    }
}

.slider-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 12px;
}