GENERATE_SOURCEMAP

# Products
VITE_APP_API_BASE_URL
VITE_PRODUCTS_GET_URL
VITE_OPTIMIZED_PRODUCTS_GET_URL

# Categories
VITE_CATEGORIES_URL

# Auth
VITE_APP_LOGIN_URL
VITE_APP_REGISTRATION_URL
VITE_APP_PROFILE_URL
VITE_APP_VERIFY_EMAIL_URL

# Wishlist
VITE_APP_WISHLIST_BASE_URL

# Cart
VITE_CART_GET_URL
VITE_CART_REMOVE_URL
VITE_CART_POST_URL

VITE_CART_GET_GUEST_URL
VITE_CART_REMOVE_GUEST_URL
VITE_CART_POST_GUEST_URL

# Coupon
VITE_COUPON_POST_URL
VITE_COUPON_POST_GUEST_URL

# Payment
VITE_PAYMENT_POST_URL
VITE_PAYMENT_POST_GUEST_URL
