@import '../../../styles/colors';

.slider-container {
    height: 495px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 87px 40px;
    background-size: cover;
    background-position: center;
}

.text-container {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        color: $color-white;
    }

    .buttons {
        display: flex;
        gap: 12px;
        margin-top: 24px;
    }
}

.slider-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.5%;
    width: 605px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slide-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    font-size: 18px;
    gap: 10px;
    align-self: flex-end;
}

.progress-track-vertical {
    width: 6px;
    height: 138px;
    background-color: $color-slider;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.progress-indicator-vertical {
    width: 100%;
    background-color: $color-button;
    position: absolute;
    left: 0;
    border-radius: 3px;
    transition: top 0.4s ease-in-out;
}

.btn-container {
    .nav-buttons .arrow:disabled {
        filter: none;
    }
}