@use '../../styles/colors' as *;

.container {
    width: 100%;
}

.header {
    background-color: rgba(211, 190, 170, 0.4);
    padding: 10px;
    padding-left: 225px;
    margin-bottom: 38px;
    border-radius: 12px;
    display: flex;
    gap: 352px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    position: relative;
    color: $color-grey;
}

.itemInner {
    display: flex;
    align-items: center;
    width: 100%;
}

.remove {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: $color-grey;
}

.image {
    width: 89px;
    height: 77px;
    object-fit: cover;
    border-radius: 8px;
    border: 0.5px solid $color-button;
    margin: 0px 60px;
}

.name {
    width: 408px;
    color: $color-grey;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
        color: $color-black;
        text-decoration: underline;
    }
}

.price {
    margin-left: 38px;
    margin-right: 143px;
}

.divider {
    grid-column: 1 / -1;
    border-bottom: 1px solid $color-button;
}

.disabled {
    color: $color-disabled;
}


.button {
    width: 230px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    stroke: white;
    transition: stroke 0.3s ease;
}


.disabledIcon {
    stroke: rgba(196, 196, 196, 1);
}