.subscribeWrapper {
    background-color: rgba(211, 190, 170, 0.4);
    margin-bottom: 120px;
}

.inner {
    padding: 40px 60px;
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.description {
    color: rgba(46, 46, 46, 1)
}

.imageContainer img {
    border-radius: 12px;
    width: 536px;
    height: 330px;
    object-fit: cover;
}

.textBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    width: 536px;
    height: 55px;
    background-color: transparent;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 200px;
}