@use "@/styles/colors" as *;
@use "@/styles/mixins" as mixins;

.spring-sale-wrapper {
    margin-bottom: 120px;
    position: relative;

    .title {
        margin-bottom: 60px;
        text-align: center;
    }
}

.spring-slider {
    width: 100%;
    margin-bottom: 40px;

    .product-slide {
        max-width: 312px !important;
        min-width: 312px !important;
        flex-shrink: 0;
    }
}

.nav-buttons {



    .button-text {
        color: #5e4b4b;
    }
}