@use "@/styles/colors" as colors;
@use "@/styles/variables" as var;

.subcategories-slider-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: visible;
  margin: 0 auto;
  gap: 50px;

  .subcategories-slider {
    display: flex;
  }

  &__arrows {
    gap: 24px;
  }
}

