@use 'colors' as *;

//PRIMARY SIZE: NORMAL

.primary-btn {
    background-color: $color-button;
    border-radius: 12px;
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    transition: background-color 300ms ease-out, box-shadow 300ms ease-out;

    &:hover {
        background-color: $color-button-hover;
    }

    &:active {
        background-color: $color-button-hover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
        background-color: $color-disabled;
        cursor: not-allowed;
    }
}

//SECONDARY SIZE: NORMAL

.secondary-btn {
    color: $color-button;
    border: 1px solid $color-button;
    background-color: transparent;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 12px;
    transition:
        background-color 300ms ease-out,
        border-color 300ms ease-out,
        box-shadow 300ms ease-out;

    &:hover {
        color: $color-button-hover;
        background-color: rgba(255, 255, 255, 0.02);
        border: 1px solid $color-button-hover;
    }

    &:active {
        color: $color-button-hover;
        border-color: $color-button-hover;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
        border-color: $color-disabled;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: not-allowed;
        opacity: 0.6;
    }
}

////PRIMARY SIZE: BIG
.primary-btn.big {
    height: 55px;
}

.secondary-btn.big {
    height: 55px;
    border: 1px solid $color-white;
    color: $color-white;

    &:active {
        color: $color-button-hover;
    }

    &:disabled {
        color: $color-disabled;
        border: 1px solid $color-disabled;
        cursor: not-allowed;
        opacity: 0.6;
    }
}