@use 'colors' as *;

// PRIMARY INPUT STYLE
.primary-input {
  padding: 13px 24px;
  background-color: $color-white;
  border: 1px solid $color-disabled;
  border-radius: 12px;
  transition: border-color 0.2s ease;
  width: 100%;

  &:hover {
    border-color: $color-grey;
  }

  &:active {
    border-color: $color-grey;
  }

  &:focus {
    outline: none;
    border-color: $color-grey;
  }

  &.error-state {
    border: 1px solid rgba(123, 0, 0, 1);

    &::placeholder {
      color: $color-red;
    }
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;

  &--left {
    left: 12.5px;
  }

  &--right {
    right: 12.5px;
  }
}

.passwordInputWrapper {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-right: 40px;
  }
}