@import '../assets/fonts/fonts.scss';

// fonts
$font-poppins: 'Poppins', sans-serif;
$font-lora: 'Lora', serif;

// XXL Title
$font-xxl-size: 64px;
$font-xxl-weight: 400;
$font-xxl-line-height: 72px;
$font-xxl-letter-spacing: 3.6%;

// H1
$font-h1: $font-lora;
$font-h1-size: 48px;
$font-h1-weight: 500;
$font-h1-line-height: 72px;
$font-h1-letter-spacing: 3.6%;

// H2
$font-h2-size: 32px;
$font-h2-weight: 400;
$font-h2-line-height: 63px;
$font-h2-letter-spacing: 3.6%;

// Title M
$font-title-m-size: 24px;
$font-title-m-weight: 400;
$font-title-m-line-height: 100%;
$font-title-m-letter-spacing: 0%;

// H3
$font-h3-size: 20px;
$font-h3-weight: 500;
$font-h3-line-height: 100%;
$font-h3-letter-spacing: 0%;

// Filters
$font-filters-size: 20px;
$font-filters-weight: 400;
$font-filters-line-height: 100%;
$font-filters-letter-spacing: 0%;

// Input
$font-input-size: 18px;
$font-input-weight: 400;
$font-input-line-height: 100%;
$font-input-letter-spacing: 0%;

// Body
$font-body-size: 20px;
$font-body-weight: 300;
$font-body-line-height: 30px;
$font-body-letter-spacing: 1.5%;

// Text XS
$font-text-xs-size: 18px;
$font-text-xs-weight: 400;
$font-text-xs-line-height: 100%;
$font-text-xs-letter-spacing: 0%;

// Button
$font-button-size: 16px;
$font-button-weight: 400;
$font-button-line-height: 24px;
$font-button-letter-spacing: 1.2%;

// Subtitle
$font-subtitle-size: 14px;
$font-subtitle-weight: 300;
$font-subtitle-line-height: 14px;
$font-subtitle-letter-spacing: 1%;

// Text S
$font-text-s-size: 14px;
$font-text-s-weight: 300;
$font-text-s-line-height: 100%;
$font-text-s-letter-spacing: 0%;
