@use '@/styles/colors' as colors;

.overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(colors.$color-black, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .window {
    position: relative;
    background: colors.$color-background;
    max-height: 90vh;
    max-width: min(1320px, calc(100vw - 100px));
    width: 100%;
    border-radius: 12px;
    padding: 24px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 48px;

      .close {
        cursor: pointer;
      }
    }
  }
}
