.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    z-index: 1000;
}

.popupContent {
    width: 480px;
    background-color: #fff;
    border-radius: 12px;
    padding: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(100, 98, 99, 0.3);
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;

    >div:first-of-type {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.popupClose {
    position: absolute;
    top: 12px;
    right: 13px;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
}

.submitBtn {
    width: 100%;
    margin-top: 24px;
}

.inputWrapper {
    position: relative;
    width: 100%;
}

.headingDark {
    color: #101828;
    line-height: 150%;
}

.textGray {
    color: #4A5565;
    line-height: 20px;
}

.inputError {
    position: initial !important;
    line-height: 21px;
}