.container {
    width: 100%;
}

.header {
    background-color: rgba(211, 190, 170, 0.4);
    padding: 10px;
    padding-right: 15px ;
    padding-left: 225px;
    margin-bottom: 38px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
}