@import "./styles/reset";
@import "./styles/variables";
@import "./styles/colors";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-poppins;
  background-color: $color-background;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}
